<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Prod_Report.My.MySettings.Registro_Produccion_DB_String"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\n054fp03\DocCompartido2\Producción\021.- Registro Produccion\DB\Static\Registro_Produccion.accdb&quot;;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>